.colback-container{
	height: 92px;
	padding-right: 8px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.colors-container{
	width: 50%;
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.colors-container > button > div{
	width: 18px;
}
.colors-container > button {
	height: 19px;
    margin-right: 5px;
    margin-bottom: 3px;
    border: none;
}
.background-container{
	width: 50%;
}
.colback-container{
	display: flex;
	padding-left: 12px;
}
.titles-container{
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    padding-left: 14px;
    padding-right: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
    color: white;
    border-top: 1px solid #ffeef914;
}
.box-color{
	border-radius: 1px;
	cursor: pointer;
}
.actual-color{
	background: red;
	border-radius: 100%;
}
/* COLORS */
.color-1{
	background: #000000;
}
.color-2{
	background: #FFFFFC;
}
.color-3{
	background: #D7CF07;
}
.color-4{
	background: #FF7F11;
}
.color-5{
	background: #FF1B1C;
}	
.color-6{
	background: #4CB944;
}
.color-7{
	background: #1C1D1A;
}
.color-8{
	background: #FB0D72;
}
.color-9{
	background: #E8A87C;
}
.color-10{
	background: #41B3A3;
}
.color-12{
	background: #2E1C2B;
}
.color-13{
	background: #F7F17E;
}
		
.color-14{
	background: #590925;
}
		
.color-15{
	background: #AAD2BA;
}
			
.color-16{
	background: #D9FFF5;
}
			
.color-17{
	background: #FFC700;
}	
	
.color-18{
	background: #53B6F4;
}
		
.color-19{
	background: #32936F;
}	
		
.color-20{
	background: #0700B3;
}	
				
.color-21{
	background: #C44900;
}

.color-22{
	background: #E5C697;	
}

.color-23{
	background: #FF6464;
}